<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contact List</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>Contact List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Surname</th>
    <th>Position</th>
    <th>Phone Number</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="contact : ${contacts}">
    <td th:text="${contact.id}"></td>
    <td th:text="${contact.firstname}"></td>
    <td th:text="${contact.surname}"></td>
    <td th:text="${contact.position}"></td>
    <td th:text="${contact.phoneNumber}"></td>
    <td th:text="${contact.email}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
